---
layout: archive
title: "Activities of the PrivML research group"
permalink: /research_group1/
author_profile: true
---

{% include base_path %}
This page provides an overview activities of my PrivML research group, such as on open theses positions, theses I am currently supervising, and theses I have supervised in the past.

<h2>Open Theses</h2>
{% for post in site.theses.on reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Currently Ongoing Theses</h2>

<h2>Completed Theses</h2>
